{% extends 'base.html' %}

{% block subtitle %}
Account
{% endblock %}

{% block extraHead %}

{% endblock %}

{% block content %}

<div class="right-align">
    <a href="{{ url_for('logout_page') }}" class="btn waves-effect waves-light red">Logout</a>
</div>

{% endblock %}
