{% extends 'base.html' %}

{% block subtitle %}
Apply
{% endblock %}

{% block extraHead %}
<style>
    h3 {
        text-align: center;
    }
</style>{% endblock %}

{% block content %}

<h3><strong>GET IN!</strong></h3>

<div class="row card-panel">
    <br />
</div>

{% endblock %}
