{% extends 'base.html' %}

{% block subtitle %}
Apply
{% endblock %}

{% block extraHead %}
<style>
    h3 {
        text-align: center;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('.modal-trigger').leanModal();
    });
</script>
{% endblock %}

{% block content %}

<h3><strong>GET IN!</strong></h3>

<div class="row">
    <div class="col l12">
        <div class="card-panel">
            <p>
                First off, we need a full API key from you.<br /><br />
                <a class="waves-effect waves-light modal-trigger" href="#define">What's an API Key?</a><br />
                <a class="waves-effect waves-light modal-trigger" href="#full">Why do you need a full key?</a><br />
            </p>
            <div class="row">
                <p>
                    To generate your key, go to <a href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=268435455" target="_blank">
                    community.eveonline.com</a>.<br />
                    When you make your key, be sure that it has the <strong>Character</strong> field set to <i>All</i> 
                    and the <strong>No Expiry</strong> checkbox on the right checked.
                </p>
            </div>
            <div class="row">
                <div class="col l12">
                    <h4>Submit:</h4>
                    <form action="{{ url_for('apply_check') }}" class="col l12">
                        <div class="row">
                            <div class="input-field col l4">
                                <input type="text" name="key_id" value="{{ request.args.get('key_id') or '' }}">
                                <label for="key_id">Key ID</label>
                            </div>
                            <div class="input-field col l4">
                                <input type="text" name="v_code" value="{{ request.args.get('v_code') or '' }}">
                                <label for="v_code">Verification Code</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light light-blue lighten-1" type="submit">Next
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="define" class="modal">
    <div class="modal-content">
        <h4>What's an API Key?</h4>
        <p>
            "The API key is a private code that identifies your account and allows third party programs and 
            web sites to access information about your characters and corporations. Using this data, such 
            utilities can improve your EVE experience by providing useful functionality such as wallet exports, 
            skill training notifications, and other tools."<br />
            <span style="color: gray; font-size: 75%;">Source: <a href="community.eveonline.com/support/api-key/">
            community.eveonline.com/support/api-key/</a></span>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
<div id="full" class="modal">
    <div class="modal-content">
        <h4>Why do you need a full key?</h4>
        <p>
            We live in wormhole space, which means that there has to be a higher level of trust between corp-mates.<br />
            Well, not trust, per say ... more like mutual spying! We have a saying in GETIN: <i>Everyone is a spai!</i>. 
            This way, we can spy on you while you spy on us.<br /><br />
            It's polite, see?
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

{% endblock %}
