<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block subtitle %}{% endblock %} | Portal{% block titleAdd %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="EvePortal">
    <meta name="author" content="Celeo">

    <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
    {% block extraHead %}{% endblock %}
</head>

<body>

<nav class="light-blue lighten-1" role="navigation">
    <div class="container">
        <div class="nav-wrapper">
            <a id="logo-container" href="{{ url_for('index') }}" class="brand-logo" style="position: relative;">Portal</a>
            <ul class="right">
            {% if not current_user or not current_user.name %}
                <li><a href="{{ url_for('login_page') }}">Login or Apply</a></li>
            {% else %}
                <li><a href="{{ url_for('groups') }}">Groups</a></li>
                <li><a href="{{ url_for('ping') }}">Ping</a></li>
                <li><a href="{{ url_for('account') }}">Account</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div id="page_proper">
    <div class="block-padding">
        <div class="container">
            <center>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="card-panel {% if category == 'info' %}green{% elif category == 'warning' %}yellow{% else %}red{% endif %}">
                        <p>
                            {{ message }}
                        </p>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </center>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% block loadLaterJavascript %}{% endblock %}
{% block pageEnd %}{% endblock %}

</body>

</html>