{% extends 'base.html' %}

{% block subtitle %}
Login
{% endblock %}

{% block extraHead %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#btn_apply').on('click', function() {
            window.location.href = "{{ url_for('apply_home') }}";
        });
    });
</script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col l5">
        <h3>Login</h3>
        <div class="row card-panel">
            <form action="{{ url_for('login_page') }}" method="POST" class="col l12">
                <div class="row">
                    <div class="input-field col l6">
                        <input type="text" name="username">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field col l6">
                        <input type="password" name="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light light-blue lighten-1" type="submit">Login
                        <i class="mdi-content-send right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col l5 offset-l1">
        <h3>Apply</h3>
        <div class="row card-panel">
            <p>
                Apply to <u>The Society For Unethical Treatment Of Sleepers</u>.<br />
                All you need is a full API key and ___________.
            </p>
            <button class="btn waves-effect waves-light light-blue lighten-1" id="btn_apply">Apply
                <i class="mdi-content-send right"></i>
            </button>
        </div>
    </div>
</div>

{% endblock %}
